@import "tailwindcss";

* {
  /* outline: 2px solid green; */
  box-sizing: border-box;
}

.aside-hidden {
  left: -40vw;
}

.aside-menu-li:hover div {
  opacity: 1;
}

.filters:hover div {
  opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes logoLetterAnimation {
  from {
    left: 150vw;
  }

  to {
    left: 0;
  }
}

@media (max-width: 1024px) {
  .aside-hidden {
    left: -60vw;
  }
}

@media (max-width: 768px) {
  .aside-hidden {
    left: -100vw;
  }
}
